
    <header>

        <nav id="nav-bar">

            <a href="/api/pokemon"><img id="img-pokemon" src="/img/pokemonAPI.png"></img></a>
            <a href="/api/rickandmorty"><img id="img-rickandmorty" src="/img/rickandmortyAPI.png"></img></a>

        </nav>

    </header>