
    <header>

        <nav class="navbar">

            <h1 class="titulo_navbar">ConsumiendoAPIs</h1>
            <ul class="lista_navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/api/pokeapi">PokeAPI</a></li>
                <li><a href="#">RickandMorty API</a></li>
                <li><a href="#">Documentation</a></li>
            </ul>
            <span class="btn_navbar">
                <i class="fa-solid fa-bars"></i>
            </span>
        
        </nav>

    </header>