<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <link  rel=StyleSheet href="./css/home.css">
    <link rel="stylesheet" href="../../css/partials.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0c45205cfc.js" crossorigin="anonymous"></script>
</head>

<body>

    <%- include("./partials/header") %>

    <main>

        <p class="titulo">ABOUT THE PROJECT</p>

    </main>

    <%- include("./partials/footer") %>

</body>
</html>