<!DOCTYPE html>
<html lang="en">
    
    <link  rel=StyleSheet href="./css/pokeapi.css">
    <%- include("./partials/head") %>

<body>

    <%- include("./partials/header") %>

    <main>

    

    </main>

    <%- include("./partials/footer") %>
    

</body>
</html>